@media (max-width: 768px) {
    :root {
        font-size: 12px;
    }
}
@media (max-width: 1200px) {
    :root {
        font-size: 14px;
    }
}
@media (max-width: 1920px) {
    :root {
        font-size: 16px;
    }
}


p,a,span,h1,h2,h3,h4,h5,h6,* {
    box-sizing: border-box;
}